<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    {% if active == 'posts' %} 
        <div class="navbar-header"> <a href="{% url 'posts' %}"> <h1>Books menu: </h1></a></div> </br>
    {% elif active == 'add_post' %}
        <div class="navbar-header"> <a href="{% url 'posts' %}"> <h1>Books menu: (return)</h1></a> </div> </br>
    {% elif active == 'userlist' %}
        <div class="navbar-header"> <a href="{% url 'userlist' %}"> <h1>Users menu: </h1></a> </div> </br>
    {% elif active == 'create_user' %}
        <div class="navbar-header"> <a href="{% url 'userlist' %}"> <h1>Users menu (return): </h1></a> </div> </br>
    {% elif active == 'login' %}
        <div class="navbar-header"> <a href="{% url 'userlist' %}"> <h1>Users menu (return): </h1></a> </div> </br>
    {% elif active == 'view' %}
        <div class="navbar-header"> <a href="{% url 'posts' %}"> <h1>Books menu: (return) </h1></a> </div> </br>
    {% elif active == "add_comment" %}
        <div class="navbar-header"> <a href="{% url 'posts' %}"> <h1>Books menu: (return) </h1></a> </div> </br>
    {% endif %}
    
<!-- 
{% comment %}
    <!-- Collect the nav links, forms, and other content for toggling -->
 <!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        
        <li {% if active == 'add_post' %}class="active"{% endif %}><a href="{% url 'add_post' %}">New post [menu]</a></li>
       
        <ul class="nav navbar-nav navbar-right">
            
    <li><a href="#">{{ request.user }} [menu]</a></li>

{% endcomment %}    

{% comment %}
    <li><a href="{% url 'create_user' %}">Rejestracja</a></li>
    <li><a href="{% url 'login' %}">Logowanie</a></li>
    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
{% endcomment %}
  
        </ul>
    </div><!-- /.container-fluid -->
</nav>
{{ ip_address }}


{% if request.user.is_authenticated %}
    <a href="#"> </a> User authenticated: {{ request.user }} <a href="{% url 'logout' %}"> Log out</a></br>
    {% if active != 'userlist' %} 
    <a href="{% url 'userlist' %}">List of users</a></br>
    {% endif %}
{% else %}
     <a href="#"> </a> User nonauthenticated: (guest) <a href="{% url 'login' %}"> Login </a> /
     <a href="{% url 'create_user' %}">Register</a></br>
{% endif %}
<!--
{% comment %}
    <li><a href="{% url 'create_user' %}">Rejestracja</a></li>
    <li><a href="{% url 'login' %}">Logowanie</a></li> 
    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
{% endcomment %} -->



    {% if active == 'posts' %} 
        <div class="active"></div> <h2>List of books:</h2>
    {% elif active == 'add_post' %}
        <div class="active"></div> <h2>New book:</h2>
    {% elif active == 'userlist' %}
        <div class="active"></div> <h2>List of users:</h2>    
    {% elif active == 'create_user' %}
        <div class="active"></div> <h2>New user:</h2> 
    {% elif active == 'login' %}
        <div class="active"></div> <h2>Login:</h2>     
    {% endif %}
    
    {% if request.user.is_authenticated %}   
        {% if active == 'posts' %} 
            <div class="active"> <a class="active" href="{% url 'add_post' %}"> <h3>Add book </a></h3> </div>
        {% elif active == 'add_post' %}
            <div class="active"> <a class="active" href="{% url 'add_post' %}"> <h3>Add another book </a></h3> </div>
        {% elif active == 'userlist' %}
            <div class="active"> <a class="active" href="{% url 'create_user' %}"> <h3>Add new user </a></h3> </div>
        {% elif active == 'create_user' %}
            <div class="active"> <a class="active" href="{% url 'create_user' %}"> <h3>Add another user </a></h3> </div>
        {% endif %}
        
    {% else %}
    {% endif %} 
