{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    View of book
{% endblock %}

{% block menu %}
    {% include 'menu.html' with active='view' %}
{% endblock %}

{% block content %}
   
 <h2>Author: {{ object.author_fn }} {{ object.author_sn }}, Title: {{ object.title }}</h2>
    Base book number (pk) = {{ object.pk }}
 <h2>List of comments: </h2>
    <b>(number of comments: {{ object.number_of_comments }}) </b>
 <a href="{% url 'add_comment' 1 %}"><h3>Add comment</h3></a> 

    <ol>
    {% for comment in comments %}
      
          <li>  {{ post_pk }} 
          <b>Comment:</b> (Base comment number ={{ comment.id }}) </br>
          <p>{{ comment.content }}</p> </br>
          by: {{ comment.author.username }} 
          <a href="{% url 'delete_comment' comment.id %}"> Delete comment </a> </li> </br>
     
    {% endfor %}
    </ol>   
<a href="{% url 'posts' %}">Return to books</a>   
{% endblock %}



